@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
* {
    margin: 0px;
    padding: 0px;
    font-family: Inter, sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.3rem;
    font-weight: normal;
    background-color: #faf8fc;
    background-size: auto;
}

a,
.green {
    /* poner otro color? */
    text-decoration: none;
    color: #6a3ea1;
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}


/* --------MOVILE FIRST-------- */


/* General text */

.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #180e25;
    margin-top: 30px;
    margin-bottom: 16px;
}

.text-base {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #827d89;
}

.text-medium {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #180e25;
}

.text-medium-bold {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #6a3ea1;
}

.small-text {
    font-size: 12px;
}

.margin-text {
    margin-top: 20px;
    margin-bottom: 10px;
}

.hr-purple {
    border: #6a3ea1 solid 1px;
    opacity: 0.25;
    margin: 8px 0;
}

.hr-purple-new-task {
    border: #6a3ea1 solid 0.01em;
}

.hr-grey {
    border: #827d89 solid 1px;
    opacity: 0.25;
    margin: 16px 0;
}

ol {
    list-style-type: none;
}

.scroll-layout {
    overflow: auto;
}


/* SIGN IN & SIGN UP */

.layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: 372px;
}

.form-section {
    width: 100%;
    margin-top: 32px;
}

.input-form {
    flex: none;
    align-self: center;
    flex-grow: 0;
    background: #ffffff;
    border: 1px solid #c8c5cb;
    border-radius: 8px;
    padding: 16px;
    margin-top: 12px;
    width: 100%;
    color: #c8c5cb;
}

.button {
    background: #6a3ea1;
    border: none;
    border-radius: 100px;
    width: 100%;
    padding: 16px;
    color: #ffffff;
    margin: 40px 0;
}

.purple {
    color: #6a3ea1;
}

.centered {
    align-self: center;
}


/* NAV */

.nav-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px 20px;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.button-log-out {
    background-image: url(/src/assets/logOutIcon.svg);
    background-position: 61% 50%;
    background-size: 25px;
    background-repeat: no-repeat;
    background-color: #c8c5cb;
    border: none;
    border-radius: 100px;
    width: auto;
    height: auto;
    padding: 21px;
    color: #ffffff;
}

.logo {
    width: 130px;
    height: auto;
}

.center-logo-login {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.logo-sign {
    width: 180px;
    height: auto;
}


/* ADD NEW TASK */

.button-add-task {
    background-image: url(/src/assets/newTaskPlus.svg);
    background-position: 50% 50%;
    background-size: 35px;
    background-repeat: no-repeat;
    background-color: #6a3ea1;
    border: 9px solid #faf8fc;
    border-radius: 100px;
    padding: 35px;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 1;
    left: 40vw;
    right: 40vw;
    bottom: 125px;
}

.new-task-box {
    z-index: 0;
    position: absolute;
    height: 170px;
    left: 0px;
    right: 0px;
    bottom: 0;
    background: #6a3ea1;
    opacity: 0.9;
    box-shadow: 0px -20px 20px 20px #faf8fc;
    padding: 55px 15px 20px 15px;
}

.input-task-up {
    width: 100%;
    border-radius: 8px 8px 0 0;
    border: none;
}

.input-task-under {
    width: 100%;
    border-radius: 0 0 8px 8px;
    border: none;
}

.text-imput {
    padding: 12px;
    color: #6a3ea1;
    background-color: #faf8fc;
}

::placeholder {
    color: #6a3ea1;
    opacity: 1;
}


/* TASK */

.task-layout {
    display: grid;
    justify-items: stretch;
    grid-template-columns: 12fr 1fr;
    margin: 16px 0;
}

.icons-task-alignment {
    display: grid;
    align-items: start;
    justify-content: end;
    align-content: stretch;
}

.taskItem {
    background-color: #fdebab;
    color: #6a3ea1;
    border-radius: 8px;
}

.check-title-alignment {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 13px 12px 0px 12px;
}

.icons-task {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #faf8fc;
    border: none;
    width: auto;
    height: auto;
    padding: 10px;
    color: #c8c5cb;
    cursor: pointer;
}

.button-x-icon {
    background-image: url(/src/assets/xIcon.svg);
    background-size: 15px;
}

.button-modify {
    background-image: url(/src/assets/modifyIcon.svg);
    background-size: 20px;
}

.check-icon-done {
    background-image: url(/src/assets/checkIcon.svg);
    background-size: 15px;
    border-radius: 100px;
    background-color: #6a3ea1;
    color: #c8c5cb;
    padding: 13px;
    margin-right: 10px;
}

.task-text {
    opacity: 0.75;
    padding: 0px 12px 13px 12px;
}


/* --------VERSIÓN DESKTOP-------- */

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }
    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
}