@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
* {
    margin: 0px;
    padding: 0px;
    font-family: Inter, sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    font-weight: normal;
    background-color: #faf8fc;
    background-size: auto;
}

body {
    background-color: #faf8fc;
}

a {
    text-decoration: none;
    color: #6a3ea1;
}

a:hover {
    color: #3a2258;
    font-weight: 700;
    text-decoration: underline;
}

ol {
    list-style-type: none;
}

.error-text {
    color: #ce3a54;
    background-color: #f7dee3;
    padding: 5px 0px 5px 12px;
}


/* --------MOVILE FIRST-------- */


/* General */

.main-layout {
    padding: 0 4%;
    box-sizing: border-box;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #180e25;
    margin-top: 30px;
    margin-bottom: 16px;
}

.text-base {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #827d89;
}

.text-medium {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #180e25;
}

.text-medium-bold {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #6a3ea1;
}

.text-xl-bold {
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;
    color: #180e25;
}

.small-text {
    font-size: 12px;
}

.margin-text {
    margin-top: 20px;
    margin-bottom: 10px;
}

.center-text {
    text-align: center;
}

.hr-purple {
    border: #6a3ea1 solid 0.01em;
    margin: 8px 0;
}

.hr-purple-new-task {
    border: #6a3ea1 solid 0.01em;
}

.hr-grey {
    border: #827d89 solid 0.01em;
    margin: 16px 0;
}


/* SIGN IN & SIGN UP */

.bottom-space {
    margin-bottom: 150px;
}

.center-logo-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 0px;
}

.ilustration-sign {
    width: 50%;
    display: block;
    margin-top: 20px;
}

.logo-sign {
    width: 30%;
    height: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: 372px;
}

.form-section {
    width: 100%;
    margin-top: 32px;
    position: relative;
}

.input-form {
    flex: none;
    align-self: center;
    flex-grow: 0;
    background: #ffffff;
    border: 2px solid #c8c5cb;
    border-radius: 8px;
    padding: 16px;
    margin-top: 12px;
    width: 100%;
    color: #6a3ea1;
    /* box-shadow: 1px 1px 3px 0px #827d89; */
}

.input-form:hover {
    border: 2px solid #6a3ea1;
}

.button {
    background: #6a3ea1;
    border: none;
    border-radius: 100px;
    width: 100%;
    padding: 16px;
    color: #ffffff;
    margin: 40px 0;
}

.button:hover {
    background-color: #3a2258;
}

.purple {
    color: #6a3ea1;
}

.centered {
    align-self: center;
}

.eye-icon {
    background-image: url(/src/assets/eyeIcon.svg);
    background-size: 20px;
}

.eye-icon-position {
    position: absolute;
    right: 3vw;
    top: 5.2vh;
}


/* NAV */

.nav-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-content: center;
    align-items: center; */
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 4%;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.user-name {
    justify-self: self-end;
    text-align: end;
}

.button-log-out {
    background-image: url(/src/assets/logOutIcon.svg);
    background-position: 61% 50%;
    background-size: 25px;
    background-repeat: no-repeat;
    background-color: #c8c5cb;
    border: none;
    border-radius: 100px;
    width: auto;
    height: auto;
    padding: 21px;
    color: #ffffff;
    cursor: pointer;
}

.button-log-out:hover {
    background-color: #6a3ea1;
    /* box-shadow: 0px 0px 10px 0px #3a2258; */
}

.logo {
    width: 130px;
    height: auto;
}


/* SECTION WITH EMPTY TASKS */

.layout-illustration {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    padding: 0 12px;
}

.ilustration-tasks {
    width: 65%;
    align-items: center;
    margin-bottom: 15px;
}


/* ADD NEW TASK */

.menu-add-task {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: auto;
}

.button-add-task {
    z-index: 1;
    background-image: url(/src/assets/newTaskPlus.svg);
    background-position: 50% 50%;
    background-size: 35px;
    background-repeat: no-repeat;
    background-color: #6a3ea1;
    border: 9px solid #faf8fc;
    border-radius: 100px;
    padding: 35px;
    left: 40vw;
    right: 40vw;
    bottom: -43px;
    cursor: pointer;
    position: relative;
}

.button-add-task:hover {
    background-color: #3a2258;
}

.new-task-box {
    z-index: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #6a3ea1;
    opacity: 0.9;
    box-shadow: 0px -20px 20px 20px #faf8fc;
    padding: 55px 4% 25px 4%;
}

.input-task-up {
    width: 100%;
    border-radius: 8px 8px 0 0;
    border: none;
}

.input-task-under {
    width: 100%;
    border-radius: 0 0 8px 8px;
    border: none;
}

.text-imput {
    z-index: 1;
    padding: 12px;
    color: #6a3ea1;
    background-color: #faf8fc;
    opacity: 1;
}

.text-imput::placeholder {
    color: #6a3ea1;
    opacity: 1;
}


/* TASK */

.task-layout {
    display: grid;
    justify-items: stretch;
    grid-template-columns: 20fr 1fr;
    min-width: 100%;
    margin: 16px 0;
}

.icons-task-alignment {
    display: grid;
    align-items: baseline;
    align-content: stretch;
    justify-content: end;
    margin-left: 12px;
}

.check-title-alignment {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 13px 12px 0px 12px;
}

.icons-task {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: auto;
    height: auto;
    padding: 10px;
    cursor: pointer;
}

.button-x-icon {
    background-image: url(/src/assets/xIcon.svg);
    background-size: 15px;
}

.button-x-icon:hover {
    background-image: url(/src/assets/xIconRed.svg);
}

.button-modify {
    background-image: url(/src/assets/modifyIcon.svg);
    background-size: 20px;
    color: #c8c5cb;
}

.button-modify:hover {
    background-image: url(/src/assets/modifyIconGreen.svg);
}


/* task active */

.taskItem-active {
    background-color: #fdebab;
    color: #6a3ea1;
    border-radius: 8px;
}

.check-icon-active {
    border-radius: 100px;
    background-color: #faf8fc;
    padding: 13px;
    margin-right: 10px;
    border: 1px solid #c8c5cb;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.check-icon-active:hover {
    border: 1px solid #6a3ea1;
    box-shadow: inset 0px 0px 10px 0px #3a2258;
}

.task-text-active {
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: #6a3ea1;
    padding: 0px 12px 13px 12px;
}


/* task done */

.taskItem-done {
    background-color: #daf6e4;
    color: #1f7f40;
    border-radius: 8px;
}

.check-icon-done {
    background-image: url(/src/assets/checkIcon.svg);
    background-size: 15px;
    border-radius: 100px;
    background-color: #6a3ea1;
    padding: 13px;
    margin-right: 10px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: none;
    width: auto;
    height: auto;
    cursor: pointer;
}

.check-icon-done:hover {
    box-shadow: 0px 0px 10px 0px #1f7f40;
}

.task-text-done {
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: #1f7f40;
    padding: 0px 12px 13px 12px;
    text-decoration: line-through;
}

.text-medium-bold-done {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-decoration: line-through;
    color: #1f7f40;
}


/* --------VERSIÓN DESKTOP-------- */

@media (min-width: 1024px) {
    body {
        display: block;
        place-items: center;
    }
}