@import "./base.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: Inter, sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

a,
.green {
    /* poner otro color? */
    text-decoration: none;
    color: #6a3ea1;
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}


/* --------MOVILE FIRST-------- */


/* General text */

.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #180e25;
    margin-top: 30px;
    margin-bottom: 16px;
}

.text-base {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #827d89;
}

.text-medium {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #180e25;
}


/* SIGN IN & SIGN UP */

.layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: 372px;
}

.form-section {
    width: 100%;
    margin-top: 32px;
}

.input {
    flex: none;
    align-self: center;
    flex-grow: 0;
    background: #ffffff;
    border: 1px solid #c8c5cb;
    border-radius: 8px;
    padding: 16px;
    margin-top: 12px;
    width: 100%;
    color: #c8c5cb;
}

.button {
    background: #6a3ea1;
    border: none;
    border-radius: 100px;
    width: 100%;
    padding: 16px;
    color: #ffffff;
    margin: 40px 0;
}

.purple {
    color: #6a3ea1;
}

.centered {
    align-self: center;
}


/* NAV */

.button-log-out {
    background: #C8C5CB;
    border: none;
    border-radius: 100px;
    width: auto;
    padding: 14px;
    color: #ffffff;
    margin: 40px 0;
}


/* NEW TASK */

.button-add-task {
    background-image: url(/src/assets/newTaskPlus.svg);
    background-position: 50% 50%;
    background-size: 35px;
    background-repeat: no-repeat;
    background-color: #6a3ea1;
    border: 10px solid #FAF8FC;
    border-radius: 100px;
    padding: 35px;
    width: auto;
    height: auto;
    position: absolute;
    order: 0;
    flex-grow: 0;
    left: 40vw;
    right: 40vw;
    bottom: 152px;
    box-shadow: 0px 0px 30px #3A2258;
}

.caja {
    /* Box */
    position: absolute;
    height: 152px;
    left: 0px;
    right: 0px;
    bottom: 106px;
    /* Primary/Base */
    background: #6A3EA1;
    opacity: 0.9;
    box-shadow: 3px 0px 30px #3A2258;
}


/* --------VERSIÓN DESKTOP-------- */

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }
    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
}